<app-navbar></app-navbar>
<!-- CONTENIDO -->
<section class="container-fluid py-5 encabezado animated fadeIn">
    <div class="container">

        <div class="row">
            <div class="col col-md-10 mx-auto">

                <h1 class="text-center mb-5">¿Cómo funciona?</h1>

                <div class="mb-3">
                    <p class="lead">Pero antes... <strong>¿qué es NuestraTienda.pe?</strong></p>
                    <p>Lo primero que debes saber es que NuestraTienda.pe es un <strong>servicio por suscripción</strong> que puedes contratar de manera mensual o anual, sin plazos de permanencia y de renovación manual.</p>
                    <p>Lo segundo que debes saber es que NuestraTienda es una <strong>plataforma autogestionable</strong>. Eso quiere decir que tu serás responsable de crear tu tienda, administrarla, conseguir clientes, vender, etc…</p>
                    <p>La buena noticia es que tendrás un aplicaitvo movil y tendrás total control en el manejo de tu negocio.</p>
                </div>



                <p class="lead mb-5">Ahora si... <strong>¿Cómo funciona?</strong></p>

                <ul id="faq" class="list-unstyled">
                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0">
                                <img src="https://mitienda.pe/_/img/como-funciona-1.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <div class="h-100 align-middle">
                                    <h5 class="mb-0">Eliges el plan que más te convenga</h5>
                                    <p>Tenemos 4 planes entre los que puedes elegir de acuerdo a tu necesidad. Procedes a pagar con tu tarjeta de crédito y la tienda se te habilitará de manera instantánea. Ingresas información de tu empresa y listo.</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0 flex-md-last">
                                <img src="https://mitienda.pe/_/img/como-funciona-2.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Creas tu tienda virtual y lo personalizas</h5>
                                <p>Es súper fácil. No necesitas saber de diseño o de programación. Con tu usuario y contraseña podrás acceder a una panel de control y modificar la tienda a tu antojo.</p>
                            </div>
                        </div>
                    </li>
                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0">
                                <img src="https://mitienda.pe/_/img/como-funciona-3.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Cargas tus productos</h5>
                                <p>Ingresa al panel de control y empieza a agregar tus productos. Puedes cargar hasta 6 imágenes por producto. Recuerda usar buenas fotografías y una descripción atractiva. Podrás manejar tu stock, organizar tus productos
                                    por categorías y mucho más.</p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0 flex-md-last">
                                <img src="https://mitienda.pe/_/img/como-funciona-4.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Establece tus métodos de pago</h5>
                                <p>Podrás acordar con tus clientes el metodo de pago. </p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0">
                                <img src="https://mitienda.pe/_/img/como-funciona-5.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Determina tus zonas de reparto y tarifas de envío</h5>
                                <p>Tu eliges a donde vas a repartir y a que precio. Puedes hacer envíos locales, nacionales o incluso al extranjero. El valor del envío se agregará al total del carrito de compras. También puedes habilitar el recojo en tienda
                                    gratis y envío grátis a partir de cierto monto.</p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0 flex-md-last">
                                <img src="https://mitienda.pe/_/img/como-funciona-6.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Consigue clientes</h5>
                                <p>Este paso es muy importante. Por más atractiva que sea tu tienda, esta no venderá por si sola. Deberás atraer compradores como en cualquier negocio. Te recomendamos participar en redes sociales, enviar correos electrónicos,
                                    compartir videos, escribir un blog, hacer publicidad, etc… </p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0 ">
                                <img src="https://mitienda.pe/_/img/como-funciona-7.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Tus clientes te compran</h5>
                                <p>Quienes instalen tu aplicativo podrán ver tu catálogo de productos, filtrar por categorías, agregar los productos deseados a un carrito de compras y proceder a pagar de acuerdo a las zona de reparto y formas de pago que
                                    hayas establecido.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0 flex-md-last">
                                <img src="https://mitienda.pe/_/img/como-funciona-8.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Serás notificado</h5>
                                <p>Cada vez que vendas en tu aplicativo movil te llegará un correo electrónico indicando todo lo concerniente al pedido realizado incluyendo información del cliente, dirección de envío, dirección de facturación, detalle de
                                    la compra y observaciones.</p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0">
                                <img src="https://mitienda.pe/_/img/como-funciona-9.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Verifica los pagos</h5>
                                <p>Una vez notificado verifica que el pago se haya realizado con éxito. Revisa la calificación de riesgo de fraude y asegúrate de que se trate de una operación legítima. Es muy fácil y te dará mayor seguridad.</p>
                            </div>
                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0 flex-md-last">
                                <img src="https://mitienda.pe/_/img/como-funciona-10.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Despacha la mercadería</h5>
                                <p>Ya sólo queda enviar la mercadería. Puedes hacerlo tu mismo o utilizar el servicio de mensajería que más te guste. Este paso es muy delicado, pues el mensajero será el único que tendrá contacto presencial con tu cliente.
                                    Asegúrate de que sea muy profesional.</p>
                            </div>

                        </div>
                    </li>

                    <li class="mb-5">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-2 offset-3 offset-sm-0">
                                <img src="https://mitienda.pe/_/img/como-funciona-11.png" alt="" class="rounded-circle mx-auto img-fluid mb-3" />
                            </div>
                            <div class="col-12 col-sm-8 col-md-10">
                                <h5 class="mb-0">Cuida a tu cliente</h5>
                                <p>Ponte en contacto con él, pregúntale si está contento con su compra, cómo recibió el producto, si llegó a tiempo, en buen estado y si el repartidor fue amable. A tus clientes frecuentes puedes enviarles ofertas especiales
                                    y cupones de descuento. La mejor publicidad es la que hacen los clientes satisfechos.</p>
                            </div>
                        </div>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</section>