<app-menu-admin></app-menu-admin>
<h1 class="text-primary">
  <i class="fas fa-mobile-alt"></i> Mi tienda
</h1>

<form>
  <div class="form-group">
    <label for="nombre">Nombre de mi tienda</label>
    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ tienda.nombre }}" [(ngModel)]="tienda.nombre">
  </div>
  <div class="form-group">
    <label for="detalle">Detalle</label>
    <input type="text" class="form-control" id="detalle" name="detalle" value="{{ tienda.detalle }}" [(ngModel)]="tienda.detalle">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Dirección</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="direccion" value="{{ tienda.direccion }}" [(ngModel)]="tienda.direccion">
  </div>
  <button type="submit" class="btn btn-success" (click)="guardarTienda()">Guardar</button>
</form>
