.fondo {
    background: #8D3754;
    color: white;
}


// cards
.card { 

    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 10px 10px rgba(34, 35, 58, 0.25);
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
  }
  .card h2 {
    margin: 0;
    padding: 0 1rem;
  }
  .card .title {
    padding: 1rem;
    text-align: right;
    color: #8D3754;
    font-weight: bold;
    font-size: 12px;
  }
  .card .desc {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  
  .card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }
  .img-portada {
    width: 100%;
  }
  
  .portada {
    min-width: 10em ;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("./../../../assets/img/h1.jpg");
    background-position: bottom center;
    background-size: cover;
  }

  .portada2 {
    min-width: 10em ;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("./../../../assets/img/h2.jpg");
    background-position: bottom center;
    background-size: cover;
  }

  a{
   background-color: #8D3754 ;
   border: 0px;
  }

  a:hover{
    background-color: #c2647c;
  }


  // testimonials

  #test-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem auto;
    width: 75%;
    max-width: 1200px;
    section {
      width: 264px;
      .top-box {
        background-color: #DFDBD5;
        width: 263px;
        height: 103px;
        position: absolute;
        z-index: 1;
      }
      
      img {
        background-color: gray;
        border-radius: 100%;
        border: 3px soild #D4D4D4;
        width: 133px;
        height: 133px;
        object-fit: cover;
        position: relative;
        display: block;
        margin: auto;
        top: 15px;
        z-index: 5;
      }
      
      .bottom-box {
        box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
        width: 263px;
        height: 238px;
        transform: translateY(-50px);
        blockquote {
          margin: 0 auto;
          padding: 0;
          width: 210px;
          p {
            margin-top: 30px;
            font-style: italic;
            font-size: 16px;
            line-height: 21px;
            padding-top: 60px;
          }
        }
        
        .test-details {
          text-align: center;
          span {
            font-size: 18px;
            font-weight: 500;
          }
        }
        
      }
      
    }
    
  }
  
section {
  margin-top: 10px;
  margin-bottom: 10px;
}

// precios
#price {
  text-align: center;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
}

.entry-title {
  background: #53CFE9;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title>h3 {
  background: #20BADA;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #20BADA;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -15px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
  color: #323232;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  text-align: center;
}

.btn a {
  background: #323232;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none
}
.hot {
  position: absolute;
  top: -7px;
  background: #F80;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  padding: 2px 5px;
  font-size: 9px;
  border-radius: 2px;
  right: 10px;
  font-weight: 700;
}
.basic .entry-title {
  background: #75DDD9;
}

.basic .entry-title > h3 {
  background: #44CBC6;
}

.basic .price {
  background: #44CBC6;
}

.standard .entry-title {
  background: #4484c1;
}

.standard .entry-title > h3 {
  background: #3772aa;
}

.standard .price {
  background: #3772aa;
}

.fa {
  margin-right: 5px;
}
