<app-navbar></app-navbar>
<!-- INTRO -->
<section id="" class="mt-3 encabezado animated fadeIn">
    <div class="container mb-12">
        <div class="row justify-content-center">
            <div class="col text-justify text-sm-center p-2">
                <h1 class="mb-4 text-center">¡Consigue tu propio <strong>Aplicativo Movil</strong> ahora <br class="d-none d-md-inline" />y empieza a vender por Internet ya!</h1>

                <p class="lead mb-4"><strong>NuestraTienda</strong> te crear tu propio <strong>Aplicativo movil</strong> y hacer comercio electrónico como los grandes. Incluye todo lo que necesitas para empezar tu negocio en línea: catálogo de productos, carrito de compras,
                    se integra con pasarelas de pago para poder aceptar pagos con tarjetas de crédito </p>


                <a class="btn btn-success btn-dashboard btn-lg btn-block-xs-only mx-auto" [routerLink]="['/precios']">¡Contrátalo ahora!</a>

            </div>
        </div>
    </div>
</section>

<!-- PERSONALIZA TU APP -->
<section class="animated fadeIn">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-3 order-2 order-md-1 text-justify mb-4">
                <h4 class="mb-3 text-center text-uppercase">
                    Personaliza la Aplicación con los colores y logo de tu emprendimiento.
                </h4>
                <p>Escoje los colores, coloca tu logo y ponle nombre a tu aplicativo movil. </p>
            </div>
            <div class="col-12 col-md-3 order-1 order-md-2 mb-4">

                <img src="./../../../assets/img/h1.jpg" alt="Tienda en Facebook" class="img-fluid mx-auto" />

            </div>
            <div class="col-12 col-md-3 order-3 order-md-4 mb-4 text-center">

                <img src="./../../../assets/img/h2.jpg" alt="Vende en Instagram" class="img-fluid mx-auto w-100 w-md-75" />

            </div>
            <div class="col-12 col-md-3 order-4 order-md-3 text-justify mb-4">
                <h4 class="mb-3 text-center text-uppercase">
                    Mejora tu marca con tu propia aplicación movil
                </h4>
                <p>
                    Permite que tus cliente compren directamente desde tu de forma segura y vean que eres un gran establecimiento.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- BENEFICIOS - - - - - - - - - - - -  -->

<section id="beneficios-planes fondo  ">

    <!-- SAPARADORES INVISIBLE -->
    <div class="pt-1 "></div>
    <div class="pt-1 d-none d-md-block"></div>
    <div class="pt-1 d-none d-lg-block"></div>

    <div class="container fondo animated fadeIn">

        <div class="row text-justify text-sm-center pt-5">
            <div class="col">
                <h4 class="mb-3 text-uppercase text-center">Por qué elegir NuestraTienda</h4>
            </div>
        </div>

        <div class="row text-justify text-sm-center">

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-economico-8.png" alt="" class="img-fluid mx-auto lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Es súper económico</h5>
                    <p>Podrás tener tu tienda virtual desde S/299 al año incluid IGV. Por un único pago anual, podrás hacer comercio electrónico desde el primer día.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-pasarelas-de-pago-8.png" alt="" class="mx-auto img-fluid lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Muchas formas de pago</h5>
                    <p>Estamos pre-integrados con las principales pasarelas de pago* en Perú, que te permiten aceptar pagos con tarjetas. O si prefieres, puedes solicitar pagos contra entrega, depósitos o transferencias.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-tarjeta-de-credito-8.png" alt="" class="mx-auto img-fluid lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Acepta todas las tarjetas</h5>
                    <p>Las pasarelas de pagos con las que trabajamos aceptan pagos con tarjetas de crédito y débito incluyendo VISA, MasterCard, DinersClub, AmericanExpress, UnionPay, Oh!, Ripley, CMR, Cencosud, Presta, etc...</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-comisiones-8.png" alt="" class="mx-auto img-fluid lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Sin comisiones</h5>
                    <p>En <strong>NuestraTienda</strong> no cobramos comisiones por las ventas. El único pago que nos haces es el correspondiente al valor del plan. Las pasarelas de pago con las que trabajamos cobran en promedio 4% de comisión.</p>
                </div>
            </div>

            <div class="w-100 d-none d-lg-block"></div>
        </div>



    </div>

</section>