<div class="container">
  <h2 class="text-primary">
    Pedido
  </h2>
  <div class="row">
    <div class="col-md-8">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Detalle
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p><span class="font-weight-bold">ID:</span>  {{pedido.id}}</p>
              <p><span class="font-weight-bold">Estado:</span> <span class="badge badge-{{pedido.estadoColor}}">{{pedido.estado}}</span></p>
              <p><span class="font-weight-bold">Fecha:</span> {{pedido.fecha}}</p>
              <p><span class="font-weight-bold">Total:</span> {{pedido.total}}</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Productos
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">SubTotal</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pedido of pedido.pedido">
                  <th scope="row">{{pedido.cantidad}}</th>
                  <td>{{pedido.nombre}}</td>
                  <td>{{pedido.precio}}</td>
                  <td>{{pedido.cantidad * pedido.precio}}</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Costo de envío</td>
                  <td>10% del total</td>
                  <td>{{pedido.envio}}</td>
                </tr>
                <tr>
                  <td colspan="3">Total</td>
                  <td>{{pedido.total}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-user"></i> Usuario</h5>
          <div class="card-text">
            <p><span class="font-weight-bold">Nombre:</span>  {{pedido.cliente.nombreCompleto}}</p>
            <p><span class="font-weight-bold">Celular:</span>  {{pedido.cliente.celular}}</p>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4"></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-bus"></i> Envío</h5>
          <div class="card-text">
            <p>
              <span class="font-weight-bold">Dirección:</span>
              Calle {{pedido.cliente.direccion.calle}} {{pedido.cliente.direccion.numero}}
              <br>
              {{pedido.cliente.direccion.distrito}}, {{pedido.cliente.direccion.provincia}}, {{pedido.cliente.direccion.departamento}}
            </p>
            <p><span class="font-weight-bold">Referencia:</span>  {{pedido.cliente.direccion.referencia}}</p>
          </div>
          <button class="btn btn-primary" (click)="sendNotification()">
            <i class="fas fa-bell"></i> Pedido en camino
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

