.login {
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 20px;
  height: 500px;
  border: none;
  overflow: hidden;
  box-shadow: 0 5px 20px #414141;
  width: 100%;
  max-width: 400px;
}

.myHed {
  margin-top: 30px;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
  background: #89304E;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.far {
  font-size: 40px;
}

.fas {
  position: relative;
  display: block;
  left: -87px;
  top: 30px;
  color: #9E6EC4;
}

.button {
  width: 250px;
  border-radius: 5px;
  background: #9E6EC4;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.myInput {
  width: 220px;
  padding: 10px;
  padding-left: 40px;
  background: #fff;
  color: #a6a2a8;
  border: none;
  border-bottom: 1px solid #a6a2a8;
  display: block;
}

.myInput::placeholder {
  color: #44394d;
  opacity: 0.6;
}

.myInput:focus {
  border-bottom: 1px solid #440e9b;
  outline: none;
}

.check_1 {
  font-weight: 500;
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin: 15px auto;
  cursor: pointer;
}

.check_2 {
  font-weight: 500;
  color: #89304E;
  font-size: 13px;
  margin: 15px auto;
  cursor: pointer;
}

.logo {
  width: 80px;
}

.alert-danger {
  width: 220px;
  font-size: 10px;
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.container-error-message {
  padding: 3px;
}
