<div class="container header">
	<h2 class="text-primary ">
		<i class="fas fa-shopping-bag"></i> Productos
	</h2>
	<div class="text-right">
		<button class="btn btn-primary" (click)="productDetail('nuevo');" data-toggle="modal" data-target="#exampleModal" [disabled]="!categorias">
			<i class="fas fa-plus "></i> Agregar producto
		</button>
	</div>
	<div class="alert alert-info mt-5" role="alert" *ngIf="!categorias">
		AVISO: No se encontraron categorías registradas <br>
		Para ingresar un producto debe existir una categoria como mínimo.
	</div>
	<div class="card-columns mt-5">
		<div class="card text-center mb-4" *ngFor="let producto of productos">
			<img class="card-img-top" src="{{producto.urlImg}}" alt="Card image cap" >
			<div class="card-body">
				<h5 class="card-title">{{producto.nombre}}</h5>
				<p class="card-text">{{producto.marca}}</p>
				<button type="button" class="btn btn-primary" (click)="productDetail(producto.id)" data-toggle="modal"
								data-target="#exampleModal">
					Ver detalle
				</button>
				<button class="btn btn-primary ml-3" data-toggle="modal" data-target="#deleteModal" (click)="setIdToDelete(producto.id)">
					<i class="fa fa-trash-alt"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!--MODAL AGREGAR/ELIMINAR PRODUCTO-->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="producto">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"> {{modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-4">
				<label for="nombre" class="form-label"> <small><strong> Nombre: </strong></small> </label>
				<input type="text" class="form-control mb-3" id="nombre" value="{{ producto.nombre }}"
							 [(ngModel)]="producto.nombre">
				<div class="form-group">
					<label for="descripcion" class="form-label"> <small><strong> Descripcion: </strong></small></label>
					<textarea class="form-control" id="descripcion" rows="3" value="{{ producto.descripcion }}"
										[(ngModel)]="producto.descripcion"></textarea>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label for="marca" class="form-label"> <small><strong> Marca: </strong></small> </label>
						<input type="text" class="form-control mb-3" id="marca" value="{{ producto.marca }}"
									 [(ngModel)]="producto.marca">
					</div>
					<div class="col-sm-6">
						<label for="categoria" class="form-label"> <small><strong> Categoria: </strong></small> </label>
						<select class="form-control mb-3" id="categoria" value="{{ producto.categoria }}"
										[(ngModel)]="producto.categoria">
							<option *ngFor="let cat of categorias" value="{{ cat.nombre }}"> {{ cat.nombre }} </option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label for="precio" class="form-label"> <small><strong> Precio S/: </strong></small> </label>
						<input type="number" class="form-control mb-3" id="precio" value="{{ producto.precio }}"
									 [(ngModel)]="producto.precio">
						<!-- <label for="urlImg" class="form-label"> <small><strong> Imagen: </strong></small> </label>
						<input type="text" class="form-control mb-3" id="urlImg" value="{{ producto.urlImg }}"
									 [(ngModel)]="producto.urlImg"> -->
					</div>
					<!-- <div class="col-sm-12 text-center">
						<img src="{{ producto.urlImg }}" style="height: 12rem; width: auto;">
					</div> -->
					<div class="row">
						<div class="form-group col ml-3">
							<label for="productImage" class="btn btn-secondary">Imagen:</label>
							<input #file type="file" accept='image/*' (change)="preview(file.files)" id="productImage" style="visibility:hidden;" />
						</div>
						<div class="col">
							<img class="logo" [src]="imgURL" height="200" *ngIf="imgURL">
							<img class="logo" src="{{ producto.urlImg }}" *ngIf="!imgURL">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-danger" data-toggle="modal"
                data-target="#deleteModal">Eliminar</button>
				<button type="button" class="btn btn-primary mr-2" (click)="guardarProducto()" data-dismiss="modal"> {{btnText}} </button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL ELIMINAR PRODUCTO-->
<div class="modal fade" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="deleteModalLabel">Eliminar producto</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  Confirma que desea eliminar el producto?
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
		  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarProducto()">Si</button>
		</div>
	  </div>
	</div>
  </div>
