.fondo {
    background: #8D3754;
    color: white;
}

.pricing-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.pricing-rate {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.pricing-list li {
    padding-top: 20px;
    list-style: none;
}

.pricing-list1 li {
    padding-top: 20px;
    list-style: none;
    margin-left: -30px;
}

.encabezado {
    padding-top: 80px;
}