<app-navbar></app-navbar>

<section class="container encabezado">
  <div class="row encabezado">
    <div class="col">
      <h1 class="text-center mb-5">Precios</h1>
      <h3 class="text-center mb-2">Tenemos un plan<br class="d-md-none"/> para cada necesidad</h3>
      <p class="lead text-center mb-5">Puedes contratar el plan que más te convenga de forma mensual o anual, sin plazo
        fijo de permanencia. Puedes cancelar tu plan o pasarte a otro en cualquier momento. Y lo mejor, no cobramos
        comisiones por las ventas. Por un único pago puedes
        vender desde tu aplicaitov movil desde el primer día.</p>
    </div>
  </div>

  <div id="price">
    <div class="plan">
      <div class="plan-inner">
        <div class="hot">Sin comisión</div>
        <div class="entry-title">
          <h3>Micro</h3>
          <div class="price">
            S/299<span>/ANUAL</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><i class="fa fa-fw fa-cubes"></i>Vende productos o servicios</li>
            <li><i class="fa fa-fw fa-database"></i>Catálogo para 50 items</li>
            <li><i class="fa fa-fw fa-shopping-cart"></i>Carrito de compras</li>
            <li><i class="fa fa-fw fa-credit-card"></i>Múltiples pasarelas de pago</li>
            <li><i class="fa fa-fw fa-user"></i>Un usuario administrador</li>
          </ul>
        </div>
        <div class="btn">
          <a [routerLink]="['/registro']">¡Contrátalo ahora!</a>
        </div>
      </div>
    </div>
    <div class="plan basic">
      <div class="plan-inner">
        <div class="hot">Sin comisión</div>
        <div class="entry-title">
          <h3>Small</h3>
          <div class="price">
            S/499<span>/ANUAL</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><i class="fa fa-fw fa-cubes"></i>Vende productos o servicios</li>
            <li><i class="fa fa-fw fa-database"></i>Catálogo para 50 items</li>
            <li><i class="fa fa-fw fa-shopping-cart"></i>Carrito de compras</li>
            <li><i class="fa fa-fw fa-credit-card"></i>Múltiples pasarelas de pago</li>
            <li><i class="fa fa-fw fa-user"></i>Un usuario administrador</li>
          </ul>
        </div>
        <div class="btn">
          <a [routerLink]="['/registro']">¡Contrátalo ahora!</a>
        </div>
      </div>
    </div>
    <div class="plan standard">
      <div class="plan-inner">
        <div class="entry-title">
          <h3>Medium</h3>
          <div class="price">
            S/899<span>/ANUAL</span>
          </div>
        </div>
        <div class="entry-content">
          <ul>
            <li><i class="fa fa-fw fa-cubes"></i>Vende productos o servicios</li>
            <li><i class="fa fa-fw fa-database"></i>Catálogo para 50 items</li>
            <li><i class="fa fa-fw fa-shopping-cart"></i>Carrito de compras</li>
            <li><i class="fa fa-fw fa-credit-card"></i>Múltiples pasarelas de pago</li>
            <li><i class="fa fa-fw fa-user"></i>Un usuario administrador</li>
          </ul>
        </div>
        <div class="btn">
          <a [routerLink]="['/registro']">¡Contrátalo ahora!</a>
        </div>
      </div>
    </div>
  </div>
</section>
