.myNav {
    background: #8D3754;
}

li a {
    font-size: 19px;
}

li a:hover {
    font-weight: bold;
}

.nombre {
    font-size: 30px;
    padding-right: 20px;
    padding-left: 10px;
}

a :hover {}