<app-navbar></app-navbar>
<!-- BENEFICIOS - - - - - - - - - - - -  -->

<section id="beneficios-planes fondo  ">

    <!-- SAPARADORES INVISIBLE -->
    <div class="pt-1 "></div>
    <div class="pt-1 d-none d-md-block"></div>
    <div class="pt-1 d-none d-lg-block"></div>

    <div class="container fondo encabezado animated fadeIn">

        <div class="row text-justify text-sm-center pt-5 ">
            <div class="col">
                <h4 class="mb-3 text-uppercase text-center">Por qué elegir NuestraTienda</h4>
            </div>
        </div>

        <div class="row text-justify text-sm-center">

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-economico-8.png" alt="" class="img-fluid mx-auto lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Es súper económico</h5>
                    <p>Podrás tener tu tienda virtual desde S/299 al año incluid IGV. Por un único pago anual, podrás hacer comercio electrónico desde el primer día.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-pasarelas-de-pago-8.png" alt="" class="mx-auto img-fluid lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Muchas formas de pago</h5>
                    <p>Estamos pre-integrados con las principales pasarelas de pago* en Perú, que te permiten aceptar pagos con tarjetas. O si prefieres, puedes solicitar pagos contra entrega, depósitos o transferencias.</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-tarjeta-de-credito-8.png" alt="" class="mx-auto img-fluid lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Acepta todas las tarjetas</h5>
                    <p>Las pasarelas de pagos con las que trabajamos aceptan pagos con tarjetas de crédito y débito incluyendo VISA, MasterCard, DinersClub, AmericanExpress, UnionPay, Oh!, Ripley, CMR, Cencosud, Presta, etc...</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="beneficio-inner p-3">
                    <div class="porque-icono d-flex mb-3" style="min-height: 118px;">
                        <img src="https://mitienda.pe/_/img/porque-blanco-comisiones-8.png" alt="" class="mx-auto img-fluid lazy align-self-center" />
                    </div>
                    <h5 class="text-center">Sin comisiones</h5>
                    <p>En <strong>NuestraTienda</strong> no cobramos comisiones por las ventas. El único pago que nos haces es el correspondiente al valor del plan. Las pasarelas de pago con las que trabajamos cobran en promedio 4% de comisión.</p>
                </div>
            </div>

            <div class="w-100 d-none d-lg-block"></div>
        </div>



    </div>
</section>