<div class="container">
  <header>
    <div class="menu">
      <div>
        <img class="menu__logo" src="assets/images/logo.png">
      </div>
      <button class="btn btn-outline-primary">Ingresar</button>
    </div>
  </header>
  <div class="intro text-primary">
    <p class="intro__text">Haz crecer tu negocio con nosotros</p>
  </div>
  <div class="about">
    <div class="row">
      <div class="col-md-7">
        <div class="about__title text-primary">Beneficios</div>
        <div class="about__body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="col-md-5 about__image text-center">
        <img class="w-75" src="assets/images/app.png">
      </div>
    </div>
  </div>
  <div class="register">
    <div class="register__content">
      <p class="register__call">Registrate y empezaremos a crear tu tienda</p>
      <div class="register__form">
        <form>
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
