<app-navbar></app-navbar>
<!-- CONTENIDO -->
<section class="container-fluid py-5">
    <div class="container encabezado animated fadeIn">

        <div class="row mb-4">
            <div class="col text-center">
                <h1 class="mb-5">Asociados</h1>
                <p class="lead">Más de 500 emprendedores confían en nosotros. Estos son tan sólo algunos ejemplos.</p>
                <p>No podemos esperar a ver qué vas a vender tu.</p>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                <a href="#" target="_blank">
                    <img src="./../../../assets/img/e1.jpg" alt="Ziyaz" class="img-fluid mb-2 border" />
                </a>
                <p>LaHIelera</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                <a href="#" target="_blank">
                    <img src="./../../../assets/img/e2.jpg" alt="Micro Perú" class="img-fluid mb-2 border" />
                </a>
                <p>Micro Perú</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                <a href="#" target="_blank">
                    <img src="./../../../assets/img/e3.jpg" alt="Little Bru" class="img-fluid mb-2 border" />
                </a>
                <p>Little Bru</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                <a href="#" target="_blank">
                    <img src="./../../../assets/img/e4.jpg" alt="Karcher Center Chacarilla" class="img-fluid mb-2 border" />
                </a>
                <p>Karcher Center </p>
            </div>



        </div>
    </div>
</section>
