<!-- <footer>
    <section id="mayor-informacion" class="container-fluid pt-3 pb-3 fondo mt-5">
        <div class="container">
            <div class="row">
                <div class="col mx-auto text-center">
                    <p>Para mayor información,
                        <br> escribe a <a href="mailto:ventas@mitienda.pe" class="">ventas@nuestratienda.com</a>
                        <br> llama a los teléfonos:
                        <br><a href="https://api.whatsapp.com/send?phone=51987687058" aria-hidden="true"><i class="fa fa-whatsapp"></i> 987-687-058</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer> -->

<div class="newsletter-subscribe mt-5">
    <div class="container">
        <div class="intro">
            <h2 class="text-center edit">Para mayor información</h2>
            <p class="text-center edit"> Puede escribirnos a:
                <a href="https://api.whatsapp.com/send?phone=51987687058" aria-hidden="true"><i class="fa fa-whatsapp"></i> 987-687-058</a>
            </p>
        </div>
    </div>
</div>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Blog</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Libro de Reclamaciones</a></li>

                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Politicas</h3>
                    <ul>
                        <li><a href="#">Politicas de Privacidad</a></li>
                        <li><a href="#">Politicas de Cookies </a></li>

                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="fa fa-facebook "></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a>
                    <p class="copyright">Nuestra tienda © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</div>