<footer>
    <section id="mayor-informacion" class="container-fluid pt-5 pb-5 fondo mt-5">
        <div class="container">
            <div class="row">
                <div class="col mx-auto text-center">
                    <p class="lead">Para mayor información,
                        <br> escribe a <a href="mailto:ventas@mitienda.pe" class="">ventas@nuestratienda.com</a>
                        <br> llama a los teléfonos:
                        <br><a href="https://api.whatsapp.com/send?phone=51987687058" aria-hidden="true"><i class="fa fa-whatsapp"></i> 987-687-058</a>

                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>